<footer class="footer bg-dark bg-gradient">
    <div class="container">
        <p class="footer-text">Yelp Camp &copy; 2022-2023 Prathamesh Potabatti</p>
        <a href="https://github.com/ppratham0811/Yelp-Campgrounds-Project" target="_blank">Any issues? Source Code</a>
    </div>
</footer>