<%- layout('./layouts/boilerplate') %>
<div class="error-msg">
    <h2>An Error has Occurred</h2>
    <h4>Status: <%= err.status %></h4>
    <h4>Message: <%= err.message %></h4>
    <% if (process.env.NODE_ENV !== "production") { %>
        <p><%= err.stack %></p>
    <% } %>
</div>