<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Yelp Camp</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav>
        <h1>Yelp Camp</h1>
        <ul>
            <li>Login/Signup</li>
            <li>View Campgrounds</li>
        </ul>
    </nav>
    <main class="container">
        <a href="/campgrounds">View all campgrounds</a>
    </main>
    <footer>
        <span>&copy;2022-23 Yelp Camp - Prathamesh Potabatti</span>
        <span><a href="https://github.com/ppratham0811/Yelp-Campgrounds-Project">View Source code</a></span>
    </footer>
</body>
</html>
