#map {
    margin-bottom: 20px;
    height: 350px;
    width: inherit;
}
.card-body {
    min-height: 50px;
    max-height: 220px;
    overflow-y: auto;
}
#show-page-div {
    margin: 30px auto;
}
#show-page-div .card {
    max-height: 700px;
    min-height: 500px;
    margin: 0 10px 20px;
    border-radius: 0;
    padding: 0;
}

#show-page-div .card img {
    height: 350px;
    max-height: 350px;
    border-radius: 0;
    min-width: 100%;
}
#review-body {
    border-radius: 0;
}

#reviews-display {
    margin: 40px auto;
    padding: 5px 10px;
    border: 1px solid rgb(207, 207, 207);
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 270px;
}
#reviews-display div {
    padding: 20px 10px;
    border-bottom: 1px solid grey;
}

#edit-btn-show {
    /* background-color: #198754; */
    border: none;
}
#delete-campground-btn {
    /* background-color: #dc3545; */
    border: none;
    margin: 0 10px;
}
.card-body-btns {
    display: flex;
    align-items: center;
    padding: 0 15px;
    /* zoom: 0.8; */
    /* height: 30px; */
}
.show-carousel-img img {
    object-fit: cover;
}
.hidden {
    display: none;
}