#show-page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#campground-img {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    height: auto;
}

#edit-btn-show {
    background-color: rgb(0, 160, 0);
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(0, 160, 0);
    align-self: center;
    margin: auto;
}
#edit-btn-show-link {
    margin: 12px 15px;
}

#delete-campground-btn {
    background-color: rgb(255, 68, 68);
    border: 1px solid rgb(255,68,68);
    border-radius: 0.4em;
    padding: 10px 20px;
    color: white;
    margin: 12px 15px;
}

#description-show {
    width: 70%;
    margin: 10px auto 10px auto;
    font-size: 1.2rem;
    font-weight: bold;
}

#all-campground-btn-show {
    margin: 12px 15px;
}

#price-show {
    font-weight: bold;
    font-size: 2rem;
}

#buttons-show {
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
}

@media only screen and (max-width: 991px) {
    #buttons-show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #show-page-div  {
        font-size: 1rem;
    }
}