#show-page-div {
    margin: 0 auto;
}
#show-page-div .card {
    width: 50%;
    margin: 20px auto 40px;
    box-shadow: 0 0 10px -1px black;
}
.card img {
    max-height: 400px;
}
.card-body-btns {
    display: flex;
    width: 50%;
    padding: 0;
}
.card-body-btns * {
    font-size: 0.8rem;
}

#all-campground-btn-show {
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
}

#edit-btn-show {
    background-color: rgb(0, 143, 0);
    color: white;
    padding: 6px 10px;
    border: 1px solid rgb(0, 143, 0);
    align-self: center;
    margin: auto;
}
#edit-btn-show-link {
    margin: 12px 15px;
}

#delete-campground-btn {
    background-color: rgb(255, 54, 54);
    border: 1px solid rgb(255, 54, 54);
    border-radius: 0.4em;
    padding: 6px 10px;
    color: white;
    margin: 12px 0;
}

#reviews-display {
    margin: 50px auto;
    width: 50%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

#reviews-display div {
    border: 1px solid black;
    padding: 10px 15px;
}

#reviews-section #first-div {
    width: 50%;
    margin: 10px auto;
}
