* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.container {
    width: 80%;
}
a {
    text-decoration: none;
}
/* display: inline-block; */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer-text {
    text-align: center;
    color: rgba(167, 167, 167, 0.788);
    margin: 0;
}
.footer {
    padding: 16px 0;
    margin-top: auto;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
.common-btn-style {
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    margin: 12px auto;
    border-radius: 0.4em;
    background-color: rgb(14, 94, 255);
    border: 1px solid rgb(14, 94, 255);
    transition: transform 0.4s ease-in-out;
}
.common-btn-style:hover {
    transform: scale(1.05,1.05);
}

.error-msg {
    text-align: center;
    background-color: rgb(255, 128, 128);
    font-weight: bold;
    padding: 18px 12px;
    width: 60%;
    margin: 25px auto;
    border-radius: 0.2em;
    word-wrap: break-word;
}


@media screen and (max-width: 991px) {
    * {
        font-size: 0.8rem;
    }
}