<%- layout('./layouts/boilerplate') %>
    <h1 id="new-form-page-h1">Make a new campground</h1>
    <div id="new-form-page-div">
        <form action="/campgrounds" method="post" id="new-form-page" novalidate class="validate-form" enctype="multipart/form-data">
            <div>
                <label for="title">Enter Camp title</label>
                <input type="text" id="title" name="campground[title]" class="form-control" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div>
                <label for="location">Enter a Location</label>
                <input type="text" id="location" name="campground[location]" class="form-control" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="input-group mb-2">
                <label for="image">Upload images</label>
                <input type="file" class="form-control" name="image" id="image" required multiple>
            </div>
            <div>
                <label for="description">Enter Description</label>
                <textarea name="campground[description]" id="description" cols="30" rows="5" class="form-control" required></textarea>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <label for="price">Enter Price</label>
            <div id="new-price-div">
                <span class="input-group-text" id="input-group-dollar">$</span>
                <input name="campground[price]" type="text" class="form-control" id="new-price-input" aria-label="Amount (to the nearest dollar)" required>
                <span class="input-group-text" id="input-group-zero">.00</span>
            </div>
            <button id="add-campground-btn" class="common-btn-style">Add Campground</button>
        </form>
    </div>
