<%- layout('./layouts/boilerplate') %>
    <main class="user-form">
        <%- include('../partials/flash') %>
        <h3>Register - YelpCamp.com</h3>
        <form action="/yelp/register" method="post" class="validate-form user-form" novalidate>
            <div>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>
            <div>
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <button type="submit" class="btn-primary btn mt-3">Register</button>
        </form>
    </main>
